<header class="main-navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a routerLink="/home">
        <img src="loro.png" alt="Logo de Loro" width="30" height="30">
      </a>
    </div>

    <nav class="nav-menu">
      <a routerLink="/juegos" routerLinkActive="active">Juegos</a>
      <a routerLink="/quien-soy" routerLinkActive="active">Quién Soy</a>
      <a routerLink="/resultados" routerLinkActive="active">Resultados</a>
      <a routerLink="/encuesta" routerLinkActive="active">Encuesta</a>
      @if (esAdmin()) {
  <a routerLink="/resultado-encuestas" class="nav-admin-badge">Admin</a>
}
    </nav>

    <div class="nav-auth">
  @if (usuario()) {
    <div class="user-logged-info">
      <div class="nav-avatar">{{ (usuario()?.nombre?.[0] ?? '' + usuario()?.apellido?.[0]) | uppercase }}</div>
      <span class="user-name">Hola, {{usuario()?.nombre}} {{usuario()?.apellido}}!</span>
      <button (click)="onCerrarSesion()" class="btn-logout"
      routerLink="/home"
      >Cerrar Sesión</button>
    </div>
  } @else {
    <a routerLink="/login" class="btn-login">Ingresar</a>
    <a routerLink="/registro" class="btn-register">Registrarse</a>
  }
</div>
  </div>
</header>

<main class="main-content" [@routeAnimations]="outlet.activatedRouteData">
  <router-outlet #outlet="outlet"></router-outlet>
</main>